body{
    margin: 0%;
    padding: 0;
    background-image: url(facebook/pattern_40.gif);
}
.hbd{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: whitesmoke;
    text-shadow: 1px 5px 5px purple; 
}
.sen{
    margin-left: 40px;
    margin-right: 40px;
    color: rgb(82, 6, 153);
    text-shadow: 2px 2px 2px black;
}
.catw{
    float: left;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
    margin-top: 20px;
}
.cat{
    border: 1px solid indigo;
    margin-left: 40px;
    width: 410px;
    background-image: url(img/bg.jpg);
    border-radius: 10px;
    overflow: hidden;
    box-shadow:rgb(82, 6, 153);
    float: left;
    margin-right: 20px;
}
.future{
    border: 1px solid indigo;
    margin-left: 40px;
    width: 410px;
    background-image: url(img/bg.jpg);
    border-radius: 10px;
    overflow: hidden;
    box-shadow:rgb(82, 6, 153);
    margin-left: 20px;;
}
.futurew{
    float: left;
}
.video{
    width: 400px;
    height: 400px;
    border:1px solid purple;
    border-radius: 50px;
    margin: 40px;
}
.img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 40px;
    
}
.img1{
    width: 200px;
    height: 200px;
    border-radius: 80px 10px;
    margin-top: 40px;
}
.vid{
    float: left;
}
.img2{
    width: 400px;
    height: 180px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 50px;
}
